body {
    font-family: 'Indie Flower', cursive;
}
.btn-primary {
    width: 70%;
    height: 50px;
    font-size: 30px;
}
.btn-success{
    font-size: large;
} 
.btn-success:hover {
    background-color: rgb(166, 160, 252);
    color: black;
}
canvas {
    border: 2px solid black;
    animation-name: example;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    margin-top: 50px;
}
@keyframes example {
    0% {
        box-shadow: 1px 1px 40px rgb(255, 116, 116);
        
    }
    50% {
        box-shadow: 1px 1px 40px rgb(250, 248, 125);
    }
    100% {
        box-shadow: 1px 1px 40px rgb(137, 255, 255);
    }
}